@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root{
    --primary-color: #004c91;
    --secundary-color: #29c5a6;
    --text-color: #243448;
    --background-color: #fff;

}

img{
    width: 100%;
}

body{
    color: var(--text-color);
}

section{
    padding: 4.5rem 0 3rem;
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background: var(--background-color);
    color: var(--text-color);
    display: block;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.logo{
  font-size: 1.2rem;
  font-weight: 700;
  color: #004c91;
  text-transform: uppercase;
}

.logo span{
  color: var(--secundary-color);
}


.navbar{
    display: flex;
    column-gap: 1rem;
}

.navbar a{
    padding: 8px 10px;
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    background: var(--primary-color);
    color: var(--background-color);
    transition: 0.2s all linear;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
}

.navbar a.active{
    background: var(--primary-color);
    color: var(--background-color);
}

.btn{
    padding: 10px 22px;
    background: var(--primary-color);
    color: var(--background-color);
}

.btn:hover{
    background: #055caf;
    color: var(--background-color);
    transition: 0.2s all linear;
}

.heading{
    text-align: center;
    margin-bottom: 3rem;

}

.heading h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.heading p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.home{
    margin-top: 10rem;
    background: url(../img/bgfund.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;

}



.home-text{
    padding-left: 35px;

}

.home-text h1{
    color: var(--background-color);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.home-text p{
    color: var(--background-color);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.project{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem,auto));
    gap: 2rem;


}

.project-img img{
    border-radius: 3rem 0 3rem 3rem;
}

.project-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--primary-color);
}

.project-text h2{
    font-size: 1.7rem;

}

.project-text p{
    font-size: 0.938rem;
    font-weight: 400;
    margin: 1rem 0 1rem;
}

.services{
    background: var(--background-color);
    padding: 4.5rem 0 3rem;
}

.services h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;

}

.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px,auto));
    gap: 2.4rem;
}


.services .box{
    padding: 20px;
    background: var(--background-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 30%);
    text-align: center;
    border-radius: 2rem;
}

.services .box:hover{
    background: var(--primary-color);
    color: var(--background-color);
    transition: 0.4s all linear;
}

.services .box .bx{
    padding: 10px;
    border-radius: 50%;
    background: #f6f6f6;
    color: var(--primary-color);
    font-size: 20px;
}
.services .box h3{
    font-size: 1.1rem;
    margin: 1rem 0 0.5rem;

}

.services .box p{
    font-size: 0.938rem;
    font-weight: 400;
}

.people-container {
    padding: 50px;
    background-color: #243448;
    text-align: center;
}

.people-container h2 {
    color: #fff;
    animation: fadeInDown 1s ease-out;
}

.people-container p {
    color: #fff;
    margin-bottom: 30px;
    animation: fadeInDown 1s ease-out;
}

.people-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #243448;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;   
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeInUp 1s ease-out;
    height: 27.5rem;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    font-size: 1.2rem;
    color: var(--secundary-color);
    margin-bottom: 10px;
}

.card-content p {
    font-size: 0.938em;
    color: #004d40;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.goals.container {
    text-align: center;
    position: relative;
}

.goals.container h2 {
    color: var(--text-color);
    animation: fadeInDown 1s ease-out;
}

.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides {
    position: relative;
    height: 350px;
}

.goal-card {
    background-color: #ffffff;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.goal-card:first-child {
    opacity: 1;
    z-index: 1;
}

.goal-icon {
    font-size: 3em;
    color: var(--secundary-color);
    margin-bottom: 20px;
}

.goal-content h3 {
    font-size: 1.5em;
    color: #243448;
    margin-bottom: 20px;
}

.goal-content p {
    font-size: 1em;
    color: #243448;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    color: var(--secundary-color);
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    user-select: none;
    z-index: 10;
    background: transparent;
    border: none;
}

.prev {
    left: 5px;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    color: var(--primary-color);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 1rem;
margin-top: 2rem;
}

.contact-info{
    flex: 1 1 20rem;
}

.contact-form{
    flex: 1 1 20rem;
    display: flex;
    justify-content: center;
}

.contact-info h2{
    font-size: 1.7rem;
    color: #055caf;
    margin-bottom: 1rem;
}

.contact-info p{
    margin: 0.5rem 0 1rem;
    font-size: 1rem;
    color: #243448;
    margin-bottom: 1rem;
}

.adress{
    display: flex;
    flex-direction: column;
}

.adress i{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
   font-size: 18px;
}

.adress span{
    font-size: 1rem;
    margin-left: 1rem;
}

.social{
    margin-top: 1rem;

}

.social a{
    font-size: 24px;
    color: var(--primary-color);
    margin-right: 1rem;
}

.social a:hover{
    color: var(--secundary-color);
}

.contact-form form{
    display: flex;
    flex-direction: column;
    width: 100%;

}

form input, textarea{
    width: 100%;
    padding: 17px;
    border-radius: 0.5rem;
    outline: none;
    margin-bottom: 1rem;
    border: 2px solid var(--secundary-color);
    box-shadow: 0 4px 4px 2px rgb(15 54 55 / 10%);
}

form textarea{
    resize: none;
    height: 150px;
}

form .btn{
    max-width: 100px;
    padding: 17px;
    background: var(--primary-color);
    color: var(--background-color);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

form .btn:hover{
    background: #055caf;
    transition: 0.2s all linear;
}

.help-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.help-item {
    background-color: #ffffff;
    border: 1px solid #b2dfdb;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.help-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.help-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.help-text {
    padding: 20px;
}

.help-text h3 {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.help-text p {
    font-size: 1em;
}


footer{
    position: bottom;
    background: var(--primary-color);
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }

  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: var(--primary-color);
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }
  